@using firstWebProject.Models;


@model List<Department>

  
<div class="container">

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Departments</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
              
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a href="~/home/Students?DeptId=@item.Id">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"> </div>
                                </div>



                                <img class="img-fluid" style="width: 400px ; height:250px ; " src="~/assets/img/portfolio/@item.Photo" alt="..." />
                            </div>
                        </a>
                        <div style="text-align:center; margin-top: 10px;" >
                            <h4> @item.Name</h4>
                            <p> @item.Description</p>
                        </div>
                    </div>
                  
                }
                </div>
        </div>
    </section>

</div>